@font-face {
    font-family: 'Helvetica LT Std';
    src: url('HelveticaLTStd-Roman.eot');
    src: url('HelveticaLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('HelveticaLTStd-Roman.woff2') format('woff2'),
        url('HelveticaLTStd-Roman.woff') format('woff'),
        url('HelveticaLTStd-Roman.ttf') format('truetype'),
        url('HelveticaLTStd-Roman.svg#HelveticaLTStd-Roman') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

