
@{
    ViewBag.Title = "Home";
}

<!-- header -->
<!-- section hero -->
<section class="align-items-center life22by7-slider">
    <header class="header-default" style="">
        <nav class="navbar navbar-expand-lg">
            <div class="container-xl">
                <!-- site logo -->
                <a class="navbar-brand" href="/"><img src="/assets/imgs/logo.png" alt="logo" /></a>

                <div class="collapse navbar-collapse">
                    <!-- menus -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link nav-text-cust" href="/">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text-cust" href="/">ABOUT US</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text-cust" href="/">SOLUTIONS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text-cust" href="/">LIFE@22/7</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text-cust" href="/">NEWS</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link nav-text-cust" href="/">CONTACT US</a>
                        </li>
                    </ul>
                </div>

                <!-- header right section -->
                <div class="header-right">
                    <!-- header buttons -->
                    <div class="header-buttons">
                        <a href="#" class="icon-button">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#" class="icon-button">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#" class="icon-button">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a href="#" class="icon-button">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <nav class="navbar navbar-expand-lg" id="sub-menu-tabs">
        <div class="container-xl">

            <div class="collapse navbar-collapse justify-content-center centered-nav">
                <!-- menus -->
                <ul class="navbar-nav mt-2" id="sticky-menu-nav">
                    <li class="nav-item sticky-nav-item active ">
                        <a class="nav-link cust nav-design-left-cust" href="#sub-menu-tabs">Careers@22by7</a>
                    </li>
                    <li class="nav-item sticky-nav-item">
                        <a class="nav-link cust nav-design-middle-cust" href="#evp">Employee Value Proposition</a>
                    </li>
                    <li class="nav-item sticky-nav-item">
                        <a class="nav-link cust nav-design-middle-cust" href="#culture">Our Culture</a>
                    </li>
                    <li class="nav-item sticky-nav-item">
                        <a class="nav-link cust nav-design-right-cust" href="#roles">Available Roles</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="col-lg-4 slider-btn">
        <!-- call to action -->
        <a href="#">
            <div class="twentytwobyseven-btn">
                <div class="cta text-center">
                    <h5 class="mt-0 mb-0 text-white">Come Fail With Us Until We Succeed</h5>
                </div>
            </div>
        </a>

    </div>

</section>


<section class="align-items-center life22by7-slider2" id="evp">
    <div class="container">
        <div class="col-md-5 col-lg-5 content-position">
            <h2 class="color-yellow text-center">Employee Value Proposition</h2>
            <p class="text-white text-center">
                Our work environment is centered around our colours - saffron, white, and green.
                The colours of the tiranga, of freedom. We are committed to giving each and every
                member of our team:
            </p>
        </div>
    </div>

</section>

<section id="hero" class="data-bg-image" data-bg-image="/assets/imgs/bg.png" style="position: relative">

    <div class="container">

        <div class="row gy-4">
            <div class="col-lg-8 col-xl-8"  style="margin-top:-3%">

                <section>
                    <!-- call to action -->
                    <div>
                        <div class="row">
                            <div class="col-lg-12 col-xl-12 p-0">
                                <img src="/assets/imgs/freedomtoexplore.png" />

                            </div>
                            <div class="content-text">
                                <div class="row">
                                    <div class="col-lg-5 col-xl-5">
                                        <img src="/assets/imgs/freedomtoexplore1.jpg" class="mt-1" />

                                    </div>
                                    <div class="col-lg-7 col-xl-7">
                                        <p>
                                            We strongly believe that interest is a prerequisite to excellence -You must love what you do to be truly great at it. That’s why wegive every single team member the freedom to explore as muchas they wish to in their roles (and sometimes, even start somethingnew!). Those who take ownership of processes they wish to workupon and improve will and that opportunities to explore are trulylimitless at 22by7 Solutions.
                                        </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-4">
                    <!-- call to action -->
                    <div class="row">
                        <div class="col-lg-12 col-xl-12 p-0">
                            <img src="/assets/imgs/ff2.png" />

                        </div>
                        <div class="content-text">
                            <div class="row">
                                <div class="col-lg-7 col-xl-7">
                                    <p>
                                        We believe that failure is a better teacher than success. Althoughalmost every organization urges its employees to strive for success,we believe in giving our employees the freedom to try somethingnew, to stumble and fall, to learn. Employees at 22by7 Solutionsare free to pursue ideas which they believe can positively impactbusiness processes and the people associated with them.Furthermore, our open-door policy ensures that guidance is readilyavailable to employees looking to take ownership of an idea to bringabout constructive changes with sincerity.<br />
                                        You will also and many happy faces and helpful hands cheering youon as you pick yourself up and dust yourself off. Here, pursuing anidea with the right intent, effort, and attitude is just as important as theresult achieved (if not more!). Welcome to a work environment wherefailures are celebrated rather than frowned upon - because to fail is tolearn, to grow.
                                    </p>
                                </div>
                                <div class="col-lg-5 col-xl-5">
                                    <img src="/assets/imgs/ff2f.jpg" class="mt-1" />

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="mt-4">
                    <!-- call to action -->
                    <div>
                        <div class="row">
                            <div class="col-lg-12 col-xl-12 p-0">
                                <img src="/assets/imgs/freedomtogrow.png" />
                            </div>
                            <div class="content-text">
                                <div class="row">
                                    <div class="col-lg-5 col-xl-5">
                                        <img src="/assets/imgs/freedomtogrow1.jpg" class="mt-1" />
                                    </div>
                                    <div class="col-lg-7 col-xl-7">
                                        <p>
                                            Every single role in our organization features multiple growth
                                            trajectories. We believe that a company’s growth is compounded by
                                            the growth of its team. At 22by7 Solutions, you have the freedom to
                                            grow in the direction you want to grow in. The growth stories of many
                                            of our team members are a testament to this.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div id="culture">

                </div>


                <section class="data-bg-image mt-4 culture" data-bg-image="/assets/imgs/fe-5.png" style="min-height:450px; background-size: cover; background-repeat: no-repeat; border-radius:25px;">
                    <!-- call to action -->
                    <div class="offset-lg-12">
                        <div class="cta text-center">
                            <h2 class="pt-4 mb-4 color-red">OUR CULTURE</h2>
                            <p class="mt-0 mb-4 px-5 text-white">
                                The central focus for excellent workplaces is the quality of working relationships betweenpeople who work in them. There are many important dimensions to building excellentworkplaces, however, it is relationships that link these factors together.
                                <br />22by7 Solutions proudly boasts a team of vibrant and capable individuals that work together,play together, and most importantly - support each other to grow together.
                                <br /><strong>#TougherTogether</strong>
                            </p>
                            <p class="mt-0 mb-4 px-5 text-white">
                                Our aim to build a value-based organizational culture led to the inception of 22by7 Academy - apeople development platform that focuses on the holistic development of our professionals.
                            </p>
                            <img src="/Assets/imgs/culture.jpg" />
                            <p class="mt-0 py-4 px-5 text-white">
                                Gurukul, an arm of 22by7 Academy, is a platform that facilitates the training, upskilling, and certifying of our professionals in an effort to realize their true potential in driving world-class customer success.
                            </p>

                        </div>
                    </div>
                </section>
                <div class="mt-4">
                    <section style="background-color:#fff; border: 3px solid rgb(246, 45, 0); border-radius:25px; padding-top:10px; padding-bottom:10px;">
                        <!-- call to action -->
                        <div class="offset-lg-12">
                            <div class="cta text-center">
                                <a href="#"><h5 class="mt-0 mb-0" style="color:rgb(246, 45, 0)">Click here for a sneak peek into everyday life @@ 22by7 Solutions <i class="fa fa-arrow-alt-circle-right"></i></h5></a>
                            </div>
                        </div>
                    </section>
                </div>

                <div id="roles">

                </div>
                <div class="mt-4">
                    <div style="margin-top: 100px; margin-bottom:30px;">
                        <section class="data-bg-image" data-bg-image="/assets/imgs/fe-4.png" style="min-height:620px; background-size: cover; background-repeat: no-repeat; border-radius:25px; ">
                            <!-- call to action -->
                            <div class="offset-lg-1 offset-xl-1 col-lg-10 col-xl-10">

                                <section>
                                    <img style="margin-top:-70px" src="/Assets/imgs/fe-7.png" />
                                </section>
                            </div>

                            <div class="offset-lg-12">
                                <div class="cta text-center">
                                    <h2 class="pt-4 pb-4 color-yellow">Available Roles</h2>
                                    <h5 class="mt-0 pb-4 color-yellow">We are currently hiring for the following roles:</h5>
                                    <div class="px-1">
                                        <section class="my-3" style="margin-left:60px; margin-right:60px; background-color:rgb(255, 151, 0); border: 1px solid rgb(246, 45, 0); border-radius:25px;">
                                            <!-- call to action -->
                                            <div class="offset-lg-12">
                                                <div class="cta text-center">
                                                    <a href="#"><h5 class="mt-0 mb-0 py-2 text-left" style="color:#fff; padding-left:20px">Business Manager - Cloud Security Solutions <span class="float-end mx-1"><i class="fa fa-arrow-alt-circle-right"></i></span></h5></a>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="my-3" style="margin-left: 60px; margin-right: 60px; background-color: rgb(255, 151, 0); border: 1px solid rgb(246, 45, 0); border-radius: 25px;">
                                            <!-- call to action -->
                                            <div class="offset-lg-12">
                                                <div class="cta text-center">
                                                    <a href="#"><h5 class="mt-0 mb-0 py-2 text-left" style="color:#fff; padding-left:20px">Enterprise Sales Manager <span class="float-end mx-2"><i class="fa fa-arrow-alt-circle-right"></i></span> </h5></a>
                                                </div>
                                            </div>
                                        </section>
                                        <section class="my-3" style="margin-left: 60px; margin-right: 60px; background-color: rgb(255, 151, 0); border: 1px solid rgb(246, 45, 0); border-radius: 25px;">
                                            <!-- call to action -->
                                            <div class="offset-lg-12">
                                                <div class="cta text-center">
                                                    <a href="#"><h5 class="mt-0 mb-0 py-2 text-left" style="color:#fff; padding-left:20px">Business Manager - ILM & VMW <span class="float-end mx-2"><i class="fa fa-arrow-alt-circle-right"></i></span></h5></a>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>

            </div>





            <div class="col-lg-4 col-xl-4 mb-5" style="margin-top:-15%">
                <div class="" style="width:100%" id="contact-box">

                    <div style="background-color: #92C840;  border-radius:25px;" class="contact-box">
                        <!-- call to action -->
                        <div class="px-3">
                            <!-- Contact Form -->
                            <div class="spacer" data-height="10"></div>

                            <!-- section header -->
                            <div class="section-header">
                                <h3 class="section-title">Apply Now</h3>
                            </div>
                            <form id="contact-form" class="contact-form" method="post">

                                <div class="messages"></div>

                                <div class="row">
                                    <div class="column col-md-12">
                                        <!-- Name input -->
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="InputName" id="InputName" placeholder="Your name" required="required" data-error="Name is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="column col-md-12">
                                        <!-- Email input -->
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="InputEmail" name="InputEmail" placeholder="Email address" required="required" data-error="Email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>

                                    <div class="column col-md-12">
                                        <!-- Email input -->
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="Mobile" name="Mobile" placeholder="Mobile" required="required" data-error="Email is required.">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="column col-md-12">
                                        <!-- Email input -->
                                        <div class="form-group">
                                            <select type="text" class="form-control" name="Designation" id="Designation" value="" placeholder="How did you hear about us?">
                                                <option value="" disabled selected hidden>How did you hear about us?</option>
                                                <option value="Friends">Friends</option>
                                                <option value="LinkedIn">LinkedIn</option>
                                                <option value="Naukri">Naukri</option>
                                                <option value="Newspaper Ads">Newspaper Ads</option>
                                                <option value="others">others</option>
                                                <option value="Not Applicable">Not Applicable</option>
                                            </select>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="column col-md-12">
                                        <div class="form-group">

                                            <div class="row">
                                                <div class="col-lg-4 mt-0">
                                                    <h6 class="text-black-50 m-1">Upload Resume</h6>
                                                </div>
                                                <div class="col-lg-8">

                                                    <input id="Resume" name="Resume" type="file" class="form-control" />

                                                </div>
                                                </div>
                                        </div>
                                    </div>
                            <div class="column col-md-12">
                                        <div class="form-group">

                                            <div class="row gy-0">
                                                <div class="col-lg-4 mt-0">
                                                    <h6 class="text-black-50 m-1">Cover Letter (Optional)</h6>
                                                </div>
                                                <div class="col-lg-8">

                                                    <input id="Resume" name="Resume" type="file" class="form-control" />

                                                </div>
                                                </div>
                                        </div>
                                    </div>
                            
                                        </div>

                                        <button type="submit" name="submit" id="submit" value="Submit" class="btn btn-default">Submit Message</button><!-- Send Button -->
                                        <br /><sub class="text-white "><i class="fa fa-lock"></i>Your personal information is kept safe and secure</sub>

</form>
                            <div class="spacer" data-height="10"></div>

                        </div>
                        <!-- Contact Form end -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
